.search-form {
  height: 80px;
  padding: 20px 0;
  background-color: #4F86F7;
}

.search-form input {
  margin: 0 auto;
  display: block;
  width: 300px;
  height: 20px;
  border: none;
}

button[type=submit] {
  background-color: #fff;
  width: 150px;
  height: 30px;
  margin: 20px auto 0;
  display: block;
  border: none;
  border-radius: 5px;
  color: #4F86F7;
  cursor: pointer;
}

button[type=submit]:hover {
  text-decoration-line: underline;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin: 40px auto;
}

.photo-card {
  width: 290px;
  margin-bottom: 20px;
}

.photo-card img {
  width: 100%;
  height: 180px;
}

.info p {
  margin: 5px;
}

.load-more {
  background-color: #4F86F7;
  width: 150px;
  height: 30px;
  margin: 20px auto 0;
  display: block;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.load-more:hover {
  text-decoration-line: underline;
}

.hidden {
  display: none;
}